<div>
<mat-card class="wizard-main-card" >
    <h4 style="text-align: left">Select a scene to paint </h4>
  <ul class="filter-types">
    <li *ngFor="let section of sections" (click)="selectType(section.sectionName)" [class.activeType]="selectedType==section.sectionName">{{section.sectionName}}</li>
  </ul>
  <!-- Dont Remove code,din -->
<!--   <div class="paletteRoot">
    <div class="palette" *ngFor="let palette of this.htmlColorPalette">
      <div class="row" style="display: contents;">
        <div class="col-lg-12">
          <span style="display: block">{{palette.jswSection}}</span>
        </div>
      </div>

      <div *ngFor="let color of palette.colors" class="flex-item">
        <div class="color-block" [style.background]="rgb(color.rgb)" (click)="addColor(color);">
        </div>
      </div>
    </div>
  </div> -->
  <div class="paletteRoot">
    <div class="palette" *ngFor="let palette of this.selectedColorSection">
      <div *ngFor="let color of palette.colors" class="flex-item">
        <div class="color-block" [style.background]="rgb(color.rgb)" (click)="addColor(color);">
            <span class="nameColor" style="font-size:10px;" >{{color.jwsColorName}}</span>
            <mat-checkbox class="checkBox" *ngIf="isSelected(color)" [checked]="true" disabled></mat-checkbox>
            <span  class="add-color"  *ngIf="!isSelected(color)" >&#10133;</span>
        </div>
      </div>
    </div>
  </div>

</mat-card>
<div class="selectedColors">
   <div *ngFor="let color of this.selectedColors" [style.background]="rgb(color.rgb)" class="color-strip">
      <span  style="font-size:10px;position: relative;" >{{color.jwsColorName}}</span> 
    <span style='font-size:13px;'(click)="deleteColor(color)">&#10006;</span>
     </div>
     <button class="btn btn-primary step-btn" (click)="nextStep()">Next</button>
</div>
</div>
