<nav class="navbar navbar-expand-lg" style="position:fixed;z-index:1000;width: 100%;height: 66px;background: white;">
  <a class="navbar-brand" href="javascript:;" style="color: black;font-weight: 900;" routerLink="home"><img src="assets/images/jsw.jpeg" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" >
    <ul class="navbar-nav mr-auto">
  <!--     <li class="nav-item ">
        <a class="nav-link" href="javascript:;" routerLink="./color/fill-color">Fill
          Color </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" routerLink="./color/inspiration">Inspiration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" routerLink="./color/wizard/palette">palette</a>
      </li> -->
    </ul>
    <!-- <span class="navbar-text">
      Account
    </span> -->
  </div>
</nav>