<!-- <div class="container-fluid margin-zero padding-zero">
  <div class="row margin-zero padding-zero">
    <div class="col-lg-12 margin-zero padding-zero">
      <img src="assets/images/colorsHome.jpg" style="width: 100%;" />
      <mat-card class="login">
        <div class="input-div">
          <label for="usr">UserName:</label>
          <input type="text" id="usr">
        </div>
        <div class="input-div">
          <label for="usr">Password:</label>
          <input type="text" id="usr">
        </div>
        <div class="input-div action">
          <button class="btn btn-primary">Login</button>
        </div>

      </mat-card>
    </div>
  </div>
</div> -->