.padding-zero{
    padding: 0px;
}
.margin-zero{
    margin: 0px
}

.visualiser-btn{
    position: absolute;
    top: 432px;
    left: 565px;
    height: 64px;
    width: 258px;
    box-shadow: 5px 5px 6px 3px whitesmoke;
}